
.myHeader {
  text-align: center;
  font-size:      30px;
  font-weight:    bold;

} 

.newFont {
  text-align: center;
  font-family: 'Nova Flat';font-size: 22px;
  font-size:      40px;
  font-weight:    bold;
  color:  rgb(24, 211, 117);
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
